# Python ignores.
.pytest_cache/
.venv/
venv/
.cache/
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
_version.py

# C and CMake ignores.
build/
install/
compile_commands.json
CMakeSettings.json
*egg-info/
cmake-build-*/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json
.ccls

# Editor ignores.
.vscode/
!.vscode/settings.json
!.vscode/extensions.json

.idea/
.vs/
*.code-workspace
