Thumbs.db
*.obj
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.opensdf
*.opendb
*.sdf
*.vsp
*.sublime-workspace
obj/
ipch/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.sln.ide/
*.ide/
*.psess
*.vsp
*.vspx