language: cpp
sudo: required

services:
  - docker

matrix:
  include:
    - env: BUILD_TYPE=gcc
    - env: BUILD_TYPE=clang

before_install:
  - docker pull mpopoloski/slang:latest
  - docker run -itd --name build mpopoloski/slang:latest
  - docker exec build git clone https://github.com/MikePopoloski/slang.git

script:
  - export ci_env=`bash <(curl -s https://codecov.io/env)`
  - if [ "$BUILD_TYPE" == "clang" ]; then docker exec $ci_env build slang/scripts/build_clang.sh; fi
  - if [ "$BUILD_TYPE" == "gcc" ]; then docker exec $ci_env build slang/scripts/build_gcc.sh; fi

branches:
  only:
    - /.*/

git:
  depth: 1